<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="./src/pixi/pixi.min.js"></script>
  <script src="./src/utils.js"></script>
  <script src="./src/factory.js"></script>
  <script src="./src/collider.js"></script>
  <script src="./src/game_objects.js"></script>
  <script src="./src/map_generator.js"></script>
  <script src="./src/game_map.js"></script>
  <script src="./src/renderer.js"></script>
  <script src="./src/game.js"></script>
  <script src="./src/main.js"></script>
</head>
<body onload="init()">
  <%= yield %>
</body>
</html>